<head><link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"></head>

<body>
<nav class="navbar navbar-expand-md navbar-light bg-primary fixed-top">
  <a class="navbar-brand" >    SP FoodCourt     </a>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/foodcourt-summary"> Food Court Summary <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactmain">Contact Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
    </ul>    
  </div>


</nav>
</body> 