<div class="search" style="padding: 10px;
font-size: 17px;
border: 1px solid grey;
background: #f1f1f1;">
        Search: <input type="text" [(ngModel)]="searchStr">
</div>



<br>
<div *ngFor= "let fc of foodcourtList | find:'fc_name':searchStr" >
    
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <table class="table table-reflow table-bordered">
                    <thead>
                        <tr style="background-color:darkcyan; ">
                            <th>{{fc.fc_name}}</th> 
                           <th></th>
                            <th>Location</th>
                            <th>Operating Hours</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background-color:beige " appHoverHighlight >
                            <th style="height: 100px; width: 100px;"><img src="{{fc.fc_img01}}" style="height: 200px; width: 300px;"></th>
                            <th style="height: 100px; width: 100px;"><img src="{{fc.fc_img02}}" style="height: 200px; width: 300px;"></th>
                            <th style="width: 200px">{{fc.location}}</th>
                            <th style="width: 200px">{{fc.op_hours}}</th>    
                            <th style="width: 400px">{{fc.description}}<br> 
                                <button (click)="onViewStallsDetails(fc.fc_id)" type="Add" class="btn btn-success"> Show Stalls</button>                            </th>
                            <!-- <th style="border: none;"><a href="#!" class="btn btn-primary">Show Stalls</a></th> -->

                        </tr>
                        <!-- <a href="#!" class="btn btn-primary">Show Stalls</a> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>




<!-- 
    <div class="card" >
        <h3 class="card-header">{{fc.fc_name}}</h3>
        <div class="card-body">
          <h4 class="card-title">{{fc.fc_img}}</h4>
          <p class="card-body"><img src="/assets/images/{{fc.fc_img01}}" style="height: 100px; width: auto"></p>
          <p class="card-text">{{fc.description}}</p>
          <a href="#!" class="btn btn-primary">Show Stalls</a>
        </div>
      </div> -->

