<div class="search" style="padding: 10px;
font-size: 17px;
border: 1px solid grey;
background: #f1f1f1;">
        Search: <input type="text" [(ngModel)]="searchStr">
</div>

<br>

<div *ngFor= "let d of selectedDishes | find:'d_name':searchStr"   >
    
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <table class="table table-reflow table-bordered" >
                  <thead>
                      <tr style="background-color:darkcyan; ">
                          <th>{{ d.d_name }}</th>
                          <th>Description</th>
                          <th>Price</th>
                          <th>Availability</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr style="background-color:beige  " appHoverHighlight>
                          <th style="height: 100px; width: 100px;"><img src="{{ d.d_img01}}" style="height: 200px; width: 300px;"></th>
                          <th style="width: 400px">{{d.description}}<br> 
                            <th>{{d.price}}</th>
                            <th>{{d.availability}}</th>
                      </tr>
                      <!-- <a href="#!" class="btn btn-primary">Show Stalls</a> -->
                  </tbody>
              </table>
          </div>
      </div>
  </div>
