
<div class="feedback">
  <table class="enquiry-table">

    <thead class="head-styles">
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>information</th>
      </tr>
    </thead>
    <tbody>


      <tr *ngFor="let c of ContactCollected  ; let i = index " >
        <th scope="row">{{ (i+1) }}</th>
        <td>{{c.name | uppercase}}</td>
        <td>{{c.email}}</td>
        <td>{{c.contact}}</td>
        <td>{{c.information}}</td>
        <!-- <td>
          <span (click)="onViewDetails(i)">[View]</span>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>

<div class="space"></div>