
<body>
    <app-contact-add (contactUsRecieved) = "onContactUsRecieved($event)"> </app-contact-add>
    <app-contactlist [ContactCollected] = "feedbackCollectionList"></app-contactlist>
    
</body>
