<img src="http://goodyfeed.com/wp-content/uploads/2016/03/Singapore-Polytechnic-1-768x402.jpg" alt="Singapore Polytechnic" height="500" width="auto">
<hr>
<h3>Our FoodCourts </h3>
<p style="margin: 30px 100px;">SP is known for our wide array of food choices in our six food courts and various F&B outlets all around campus. Some of our students’ favourites are McDonald’s at T16 and Long John Silver's at Food Court 3. We even have KFC, Starbucks and Subway housed in one food court! If you like western cuisine, you can’t afford to miss a visit to the Moberly Café.</p>
<hr>
<h3>UPDATES:</h3>
<div *ngFor= "let up of UpdateList; let i = index; " >
        <div class="card">
                        <thead class="card-body">
                            <tr style="background-color:beige " appHoverHighlight >
                                <th style="width: 50px">{{ (i+1)}}</th>
                                <th style="width: auto">{{up.updates_title}}</th>    
                                <th style="width: auto">{{up.description}}<br> 
                            </tr>
                            <!-- <a href="#!" class="btn btn-primary">Show Stalls</a> -->
                        </thead>
        </div>

</div>
    
    