<h4>Sign Up</h4>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-left">
      <form [formGroup]="signupForm">
        <div class="form-group">
          <label for="NameAdd">Name:</label>
          <input type="text" id="NameAdd" class="form-control" #NameAdd [formControlName]="'NameAdd'">
          <span *ngIf="!signupForm.get('NameAdd').valid && signupForm.get('NameAdd').touched" class="help-block">
            <span *ngIf="signupForm.get('NameAdd').errors['required']">
              This field is required!
            </span>
            <span *ngIf="!signupForm.get('NameAdd').errors['required'] 
              && signupForm.get('NameAdd').errors['blankSpaces']">
              Empty spaces are not accepted.
            </span>
          </span>
        </div>
        <div class="form-group">
          <label for="EmailAdd">Your Email:</label>
          <input type="email" id="EmailAdd" class="form-control" #EmailAdd [formControlName]="'EmailAdd'">
          <span *ngIf="!signupForm.get('EmailAdd').valid && signupForm.get('EmailAdd').touched" class="help-block">
            <span *ngIf="signupForm.get('EmailAdd').errors['required']">This field is required!</span>
            <span *ngIf="!signupForm.get('EmailAdd').errors['required'] && signupForm.get('EmailAdd').errors['email']">Invalid email!</span>
            <span *ngIf="signupForm.get('EmailAdd').errors['emailBlackListed']">This email is Forbidden.</span>
          </span>
        </div>
        <div class="form-group">
            <label for="ContactAdd">Contact Number:</label>
            <input type="text" id="ContactAdd" class="form-control" #ContactAdd [formControlName]="'ContactAdd'">
            <span *ngIf="!signupForm.get('ContactAdd').valid && signupForm.get('ContactAdd').touched" class="help-block">
              <span *ngIf="signupForm.get('ContactAdd').errors['required']">
                This field is required!
              </span>
              <span *ngIf="!signupForm.get('ContactAdd').errors['required'] 
                && signupForm.get('ContactAdd').errors['NumCheckPw']">
                  Must Have At Least 1 Number.
              </span>
            </span>
          </div>
        <div class="form-group">
          <label for="PasswordAdd">Password:</label>
          <input type="text" id="PasswordAdd"  class="form-control" #PasswordAdd [formControlName]="'PasswordAdd'">
          <span *ngIf="!signupForm.get('PasswordAdd').valid && signupForm.get('PasswordAdd').touched" class="help-block">
            <span *ngIf="signupForm.get('PasswordAdd').errors['PassChk']">
                This field is required!
                <br> 1 Uppercase Needed
                <br> 1 Lowercase Needed
                <br> 1 Special Characther Needed
            </span>
          </span>
        </div>
        <button [disabled]="!signupForm.valid" class="btn btn-primary" type="submit" (click)="onAddUser(NameAdd,EmailAdd,ContactAdd,PasswordAdd)">Submit</button>
      </form>
      <hr>
    </div>
  </div>
</div>

<div class="row" *ngIf="submitted">
    <div class="col-sm-8 col-md-offset-2 text-left">
      <h3>You have successfully sign up</h3>
      <p>Username: {{ signupForm.value.NameAdd }}</p>
      <p>Email: {{ signupForm.value.EmailAdd }}</p>
      <p>Contact No: {{ signupForm.value.ContactAdd }}</p>
      <p>Password: {{ signupForm.value.PasswordAdd }}</p>
      <button (click)="aftSubmit()" class="btn btn-success" type="submit">Signup </button>
    </div>
  </div>  