<div class="search" style="padding: 10px;
font-size: 17px;
border: 1px solid grey;
background: #f1f1f1;">
        Search: <input type="text" [(ngModel)]="searchStr">
</div>
<br>
<div *ngFor= "let s of selectedFC| find:'st_name':searchStr"  >

  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <table class="table table-reflow table-bordered">
                  <thead>
                      <tr style="background-color:darkcyan; ">
                          <th>{{ s.st_name }}</th>
                          <th>Location</th>
                          <th>Description</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr style="background-color:beige " appHoverHighlight>
                          <th style="height: 100px; width: 100px;"><img src="{{ s.st_img01}}" style="height: 200px; width: 300px;"></th>
                          <th style="width: 200px">{{s.st_id}}</th>
                          <th style="width: 400px">{{s.description}}<br> 
                            <button routerLink="/foodcourt-summary" class="btn btn-success" router="/stall">Back to FoodCourt</button>
                            <button (click)="onViewDishesDetails(s.st_id)" class="btn btn-success">Show Dishes</button>                          <!-- <th style="border: none;"><a href="#!" class="btn btn-primary">Show Stalls</a></th> -->

                      </tr>
                      <!-- <a href="#!" class="btn btn-primary">Show Stalls</a> -->
                  </tbody>
              </table>
          </div>
      </div>
  </div>
