<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">


<div class="wholecontainer">

  <div class="enquiry-right">
    <div class="feedback-box">
      <form [formGroup]="feedbackform">
        <span class="feedback-box-title">
        </span>

        <!-- Name -->
        <div class="inputboxes-style">
            <div class="input-header"> Name &#58; </div>
          <input type="text" id="inputName" class="form-control" placeholder="Name" [formControlName]="'name'" #inputName>
          <span *ngIf="!feedbackform.get('name').valid && feedbackform.get('name').touched" class="error-msg">
            <span *ngIf="feedbackform.get('name').errors['required']">
              This field is required!
            </span>
            <span *ngIf="!feedbackform.get('name').errors['required'] 
                  && feedbackform.get('name').errors['blankSpaces']" class="empty-space-style">
              Empty spaces are not accepted.
            </span>
          </span>
        </div>

        <!-- Email -->
        <div class="inputboxes-style">
            <div class="input-header"> Email &#58; </div>
          <input type="text" id="inputEmail" class="form-control" placeholder="Email" [formControlName]="'email'" #inputEmail>
          <span *ngIf="!feedbackform.get('email').valid && feedbackform.get('email').touched" class="error-msg">
            <span *ngIf="feedbackform.get('email').errors['required']">
              This field is required!
            </span>
            <span *ngIf="!feedbackform.get('email').errors['required'] 
                  && feedbackform.get('email').errors['blankSpaces']" class="empty-space-style">
              Empty spaces are not accepted.
            </span>
            <span *ngIf="!feedbackform.get('email').valid && !feedbackform.get('email').errors['required']  && !feedbackform.get('email').errors['blankSpaces']"
              class="invalid-email-style">
              Invalid email.
            </span>
            <span *ngIf="feedbackform.get('email').errors['emailBlackListed']" class="blackemail-style">
              This email is forbidden.
            </span>

          </span>
        </div>

        <!-- Contact -->
        <div class="inputboxes-style">
          <div class="input-header"> Contact &#58; </div>
        <input type="text" id="inputContact" class="form-control" placeholder="Contact" [formControlName]="'contact'" #inputContact>
        <span *ngIf="!feedbackform.get('contact').valid && feedbackform.get('contact').touched" class="error-msg">
          <span *ngIf="feedbackform.get('contact').errors['required']">
            This field is required!
          </span>
          <span *ngIf="!feedbackform.get('contact').errors['required'] 
                && feedbackform.get('contact  ').errors['blankSpaces']" class="empty-space-style">
            Empty spaces are not accepted.
          </span>
        </span>
      </div>

        <!-- Info -->
        <div class="inputboxes-style">
          <div class="input-header"> Message &#58; </div>
        <textarea id="inputMessage" class="form-control message-box" placeholder="Message" [formControlName]="'message'" #inputInfo></textarea>
        <span *ngIf="!feedbackform.get('message').valid && feedbackform.get('message').touched" class="error-msg">
          <span *ngIf="feedbackform.get('message').errors['required']">
            This field is required!
          </span>
          <span *ngIf="!feedbackform.get('message').errors['required'] 
              && feedbackform.get('message').errors['blankSpaces']" class="empty-space-style">
            Empty spaces are not accepted.
          </span>
        </span>
      </div>

        <!-- Submission Button -->
        <button type="Add" class="submit-button" [disabled]="!feedbackform.valid" (click)="onSubmit(inputName, inputSubject, inputEmail, inputContact, inputInfo)">
          Submit </button>

      </form>
    </div>
  </div>
</div>
<div class="break-styles"></div>